{% extends '::base.html.twig' %}

{% block body %}
<div class="column">
    <h1>List of products:</h1>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }}
                <strong>{{ product.price }}</strong>
            </li>
        {% else %}
            <li>No products yet.</li>
        {% endfor %}
    </ul>
</div>
<div class="column">
    <h2>Create a new product:</h2>
    {{ form(form) }}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    body {
        padding: 0;
        display: flex;
    }
    .column {
        width: 50%;
    }
</style>
{% endblock %}
